language: python

sudo: required

dist: xenial

python:
    - 2.7
    - 3.4
    - 3.5
    - 3.6
    - 3.7

before_install:
  - sudo apt-get -y -qq update

# command to install dependencies, e.g. pip install -r requirements.txt --use-mirrors
install: pip install -U setuptools && pip install -U tox-travis
  
# command to run tests, e.g. python setup.py test
script: tox
